.largeRect { 
    width: 100%;
    height: 200px;
    background: #aaf;
    margin-top: 10px;
    margin-bottom: 10px;
}
.menuItem {
    width: 100%;
    height: 50px;
    padding: 10px;
    background: #aaf;
}
.menuItem:hover {
    background: #33f;
    color: #f00;
}
.product {
	vertical-align: top;
	text-align: center;
	display: inline-block;
    width: 260px;
    height: 260px;
    padding: 10px;
}
.product:hover .overlay {
    opacity: 0.7;
}
.product:hover {
	background: rgba(0, 0, 0, 0.3);
}
.caption {
	display: block;
}
.footer {
    width: 100%;
    height: 50px;
    background: #aaf;
    font-size: 14px;
    vertical-align: center;
    text-align: center;
    font-weight: bold;
}
.imgContainer {
    width: 230px;
    height: 230px;
    margin: auto;
    position:relative;
}
.imgContainer img {
    width: 100%;
    height: 100%;
}

.overlay {
    width: 100%;
    height: 20%;
    opacity: 0;
    background: #777;
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: 20px;
    color: #000;
}

.container {
    width: 1000px;
}